/*------------------------------------*\
    #BASE
\*------------------------------------*/

html {
  display: flex;
  font-size: 62.5%;
}

body {
  margin: 0;
  width: 100%;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.1rem;
  color: #ffffff;
  background: #000000;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrap-header,
.wrap-footer {
  padding: 0 16px;
  flex-shrink: 0;
}

.wrap-header {
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: 100;
}

.wrap-footer {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.main-content {
  flex-grow: 1;
}
